* {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    /* background-image: url("..images/bg.jpg"); */
}

/* // ANSWER  // */
.answer-container {
    margin: 0 auto;
    display: table;
    margin-top: 25px;
    font-size: 25px;
}
.answer-container > div {
    text-align: center;
    line-height: 47px;

}
.answer-box {
    width: 50px;
    height: 50px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    margin: 0 5px;
}

/* // IMAGE // */
.frame-container {
    width: 700px;
    height: 400px;
    margin-bottom: 10px;
    margin-left: 333px;
    position: absolute;
}
.frame-box {
    width: 350px;
    height: 200px;
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
    float: left;
    cursor: pointer;
}

.image-container {
    z-index: -1;
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

/* // BUTTON // */
.button-container {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}
.btn-letter {
    display: table;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    margin: 2px 5px;
    cursor: pointer;
}
